body {
  background-color: rgba(0, 0, 0, 0.903);
  font-family: "helvetica";
}
header {
  text-align: center;
  color: mediumseagreen;
  margin-top: 30px;
}

#info {
  width: 50px;
  height: 20px;
  background-color: wheat;
  margin-bottom: 10px;
  border: 1px solid black;
}

.wrongPlace {
  background-color: red;
  width: 50px;
  height: 50px;
  justify-self: center;
  border: 1px solid black;
  border-radius: 3px;
}

.wrongLetter {
  background-color: rgba(228, 168, 228, 0.452);
  width: 50px;
  height: 50px;
  justify-self: center;
  border: 1px solid black;
  border-radius: 3px;
}

.rightLetter {
  background-color: violet;
  width: 50px;
  height: 50px;
  justify-self: center;
  border: 1px solid black;
  border-radius: 3px;
}

.guess {
  width: 280px;
  height: 60px;
  margin: auto;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.letter {
  width: 50px;
  height: 50px;
  background-color: rgb(138, 85, 138);
  justify-self: center;
  border: 1px solid black;
  border-radius: 3px;
}

p {
  color: white;
  text-align: center;
  font-size: 18px;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.keyboard {
  width: 420px;
  padding: 20px;
  border-radius: 2px;
  max-width: 500px;
  margin: auto;
}

.key:active,
#returnKey:active,
#backspaceKey:active {
  background-color: rgba(128, 128, 128, 0.401);
}

.key,
#backspaceKey,
#returnKey,
#spacebar {
  margin: 1px;
  text-align: center;
  background-color: grey;
  border: 1px solid rgb(76, 63, 63);
  border-radius: 1px;
  opacity: 100%;
}

#returnKey {
  width: 50px;
  height: 40px;
}
#backspaceKey {
  width: 80px;
  height: 40px;
}
.key {
  height: 40px;
  width: 40px;
}

#spacebar {
  width: 200px;
  height: 40px;
}
